.DS_Store
a.out
ack
ack2
acsf
acsf3
acw3r
asdf
backup-copy.c
barf
create-tga-from-any-input
create-tga-from-any-input.s
cuda-targa.cu
cuda-targa.cu.c
cuda.c
debug
debug.dSYM/
dyn
dyn-02-S-m64.s
dyn-02-S.s
dyn-O2.s
dyn-S.s
dyn.s
dynamic_mem.c
gif-input.exe
input-for-gif.c
inputt.tga
malloccc
narf
narf.dSYM/
newf
newfa
newfv
number-literal.s
source_size.s
sta1486218856.tga
sta1486218885.tga
targa-exe
targa-enhance.exe
